<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>home</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/74273dfa33.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="static/css/styles.css" />
  <link rel="stylesheet" href="static/css/productDetail.css" />
</head>

<script>
  function includeHTML() {
    var z, i, elmnt, file, xhttp;
    /*loop through a collection of all HTML elements:*/
    z = document.getElementsByTagName("*");
    for (i = 0; i < z.length; i++) {
      elmnt = z[i];
      /*search for elements with a certain atrribute:*/
      file = elmnt.getAttribute("include-html");
      if (file) {
        /*make an HTTP request using the attribute value as the file name:*/
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
          if (this.readyState == 4) {
            if (this.status == 200) { elmnt.innerHTML = this.responseText; }
            if (this.status == 404) { elmnt.innerHTML = "Page not found."; }
            /*remove the attribute, and call this function once more:*/
            elmnt.removeAttribute("include-html");
            includeHTML();
          }
        }
        xhttp.open("GET", file, true);
        xhttp.send();
        /*exit the function:*/
        return;
      }
    }
  };
</script>

<body>
  <div include-html="header"></div>
  <main class="main">
    <div class="box">
      <div class="container-1">
        <span class="icon"><i class="fa fa-search fa-2x"></i></span>
        <input type="search" id="search" placeholder="Search..." />
      </div>
    </div>
 
    <div class = "card-wrapper">
      <div class = "card-dtls">
        <!-- card left -->
        <div class = "product-imgs">
          <div class = "img-display">
            <div class = "img-showcase">
              <img src = "static/images/img/01.jpg" alt = "shoe image">
              <img src = "static/images/img/02.jpg" alt = "shoe image">
              <img src = "static/images/img/03.jpg" alt = "shoe image">
              <img src = "static/images/img/04.jpg" alt = "shoe image">
            </div>
          </div>
          <div class = "img-select">
            <div class = "img-item">
              <a href = "#" data-id = "1">
                <img src = "static/images/img/01.jpg" alt = "shoe image">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "2">
                <img src = "static/images/img/02.jpg" alt = "shoe image">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "3">
                <img src = "static/images/img/03.jpg" alt = "shoe image">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "4">
                <img src = "static/images/img/04.jpg" alt = "shoe image">
              </a>
            </div>
          </div>
        </div>
        <!-- card right -->
        <div class = "product-content">
          <div class="card-header-title">
            <h2 class = "product-title">One-Punch Man, Vol. 1</h2>
          </div>
          
          <div class = "product-price">
            <p class = "last-price">Precio normal: <span>$257.00</span></p>
            <p class = "new-price">Precio con descuento: <span>$249.00 (5%)</span></p>
          </div>

          <div class = "product-detail">
            <h2>Acerca del comic: </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eveniet veniam tempora fuga tenetur placeat sapiente architecto illum soluta consequuntur, aspernatur quidem at sequi ipsa!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, perferendis eius. Dignissimos, labore suscipit. Unde.</p>
            <ul>
              <li>Autor: <span>ONE</span></li>
              <li>Ilustrador: <span>Yusuke Murata</span></li>
              <li>Categoría: <span>Anime</span></li>
              <li>Publicación: <span>(September 1, 2015)</span></li>
              <li>País origen: <span>Japon</span></li>
            </ul>
          </div>

          <div class = "purchase-info">
            <input type = "number" min = "0" value = "1">
            <button type = "button" class = "btn"><i class="fa-solid fa-cart-plus"></i>   Añadir al carrito</button>
          </div>
        </div>
      </div>
    </div>

    
  <script src="static/dist/script.js"></script>
  </main>
  <div include-html="footer"></div>
  <script>
    includeHTML();
  </script>
</body>

</html>