<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="static/css/header.css" />
</head>

<body>
  <header class="header-login-signup">
    <div class="header-limiter">
      <div class="has-outline"><img src="static/images/Logo_eComic_active.png" alt="eComic"
          href="https://www.eComic.net" class="code-img" /></div>
      <h1><a href="/">e<span>C</span>omic</a></h1>
      <nav>
        <a href="/" class="selected"><i class="fa fa-fw fa-home"></i></a>
        |
        <a href="productCart">Product Cart</a>
        |
        <a href="productDetail">Product Details</a>
      </nav>
      <ul>
        <li>
          <a href="productCart" alt="Carrito"><i class="fa-solid fa-cart-shopping fa-2xl"></i></a>
        </li>
        <li>
          <a href="login" alt="Login"><i class="fa-solid fa-user fa-xl"></i> Login</a>
        </li>
      </ul>
    </div>
  </header>
</body>

</html>