<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/74273dfa33.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/header-login-signup.css">
	<link rel="stylesheet" href="static/css/footer-distributed-with-address-and-phones.css">
</head>
<body>
    <header>
        <img class="header-img" src ="static/images/Logo_eComic_active.png" alt="eComic" href="https://www.eComic.net"/>
        <h1>eComic</h1>
        <i class="fa-solid fa-cart-shopping fa-4x"></i>
        <i class="fa-solid fa-user fa-4x"></i>
    </header>
    <header class="header-login-signup">

        <div class="header-limiter">
    
            <h1><a href="#">Company<span>logo</span></a></h1>
    
            <nav>
                <a href="#">Home</a>
                <a href="#" class="selected">Blog</a>
                <a href="#">Pricing</a>
            </nav>
    
            <ul>
                <li><a href="#">Login</a></li>
                <li><a href="#">Sign up</a></li>
            </ul>
    
        </div>
    
    </header>
    <main><p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p>
        <img src="static/images/saitama.jpg" width="300px" height="168px" alt="Saitama"></main>
    <footer></footer>
    <footer class="footer-distributed">

        <div class="footer-left">
    
            <h3>Company<span>logo</span></h3>
    
            <p class="footer-links">
                <a href="#">Home</a>
                ·
                <a href="#">Blog</a>
                ·
                <a href="#">Pricing</a>
                ·
                <a href="#">About</a>
                ·
                <a href="#">Faq</a>
                ·
                <a href="#">Contact</a>
            </p>
    
            <p class="footer-company-name">Company Name © 2015</p>
        </div>
    
        <div class="footer-center">
    
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>21 Revolution Street</span> Paris, France</p>
            </div>
    
            <div>
                <i class="fa fa-phone"></i>
                <p>+1 555 123456</p>
            </div>
    
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@company.com">support@company.com</a></p>
            </div>
    
        </div>
    
        <div class="footer-right">
    
            <p class="footer-company-about">
                <span>About the company</span>
                Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
            </p>
    
            <div class="footer-icons">
    
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
    
            </div>
    
        </div>
    
    </footer>
</body>
</html>