<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>home</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/74273dfa33.js" crossorigin="anonymous"></script>
  <script src="static/dist/script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/productCart.css" />
  <link rel="stylesheet" href="static/css/styles.css" />
</head>

<script>
  function includeHTML() {
    var z, i, elmnt, file, xhttp;
    /*loop through a collection of all HTML elements:*/
    z = document.getElementsByTagName("*");
    for (i = 0; i < z.length; i++) {
      elmnt = z[i];
      /*search for elements with a certain atrribute:*/
      file = elmnt.getAttribute("include-html");
      if (file) {
        /*make an HTTP request using the attribute value as the file name:*/
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
          if (this.readyState == 4) {
            if (this.status == 200) { elmnt.innerHTML = this.responseText; }
            if (this.status == 404) { elmnt.innerHTML = "Page not found."; }
            /*remove the attribute, and call this function once more:*/
            elmnt.removeAttribute("include-html");
            includeHTML();
          }
        }
        xhttp.open("GET", file, true);
        xhttp.send();
        /*exit the function:*/
        return;
      }
    }
  };
</script>

<body>
  <div include-html="header"></div>
  <main class="mainbar">
    <nav>
      <div class="d-flex align-items-center">
        <div class="ml-auto"> <a href="#" class="text-uppercase">Seguir comprando</a> </div>
      </div>
    </nav>
    <div class="headerbar">
      <div class="d-flex justify-content-center align-items-center pb-3">
        <div class="px-sm-5 px-2 progressText active">CARRITO DE COMPRA<span class="fas fa-check"></span> </div>
        <div class="px-sm-5 px-2 progressText">PAGO</div>
        <div class="px-sm-5 px-2 progressText">FINALIZAR</div>
      </div>
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <div class="wrapper">
      <div class="h5 large">Datos de envío</div>
      <div class="row">
        <div>
          <div class="mobile h5">Datos de envío</div>
          <div id="details" class="detailscard">
            <form>
              <div class="form-group"> 
                <label class="text-muted">Nombre Completo</label> 
                <div class="d-flex jusify-content-start align-items-center rounded p-2"> 
                <input type="text" placeholder="Nombre Apellido"> 
                <span class="fas fa-check text-success pr-sm-2 pr-0"></span> </div>
              </div>
              <div class="form-group"> 
                <label class="text-muted">Correo electronico</label>
                <div class="d-flex jusify-content-start align-items-center rounded p-2"> 
                  <input type="email" placeholder="david.343@gmail.com"> <span class="fas fa-check text-success pr-sm-2 pr-0"></span> </div>
                <div class="form-group"> <label class="text-muted">Dirección</label>
                  <div class="d-flex jusify-content-start align-items-center rounded p-2"> <input type="email"
                    placeholder="Calle / Carrera / Apartamento / Local , etc"> <span
                      class="fas fa-check text-success pr-sm-2 pr-0"></span> </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group"> <label>País/Región</label>
                    <!-- <div class="d-flex jusify-content-start align-items-center rounded p-2"> <input type="text"
                        value="Houston"> <span class="fas fa-check text-success pr-2"></span> </div> -->
                    <select size="1" autocomplete="shipping country" data-backup="country"
                      class="field__input field__input--select" aria-required="true"
                      name="checkout[shipping_address][country]" id="checkout_shipping_address_country"
                      placeholder="País/región">
                      <option data-code="CO" selected="selected" value="Colombia">Colombia</option>
                      <option data-code="PE" value="Peru">Perú</option>
                      <option data-code="MX" value="Mexico">México</option>
                      <option data-code="VE" value="Venezuela">Venezuela</option>
                      <option disabled="disabled" value="---">---</option>
                      <option data-code="AR" value="Argentina">Argentina</option>
             
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group"> <label>Ciudad</label>
                    <div class="d-flex jusify-content-start align-items-center rounded p-2"> <input type="text"
                      placeholder="Medellín"> <span class="fas fa-check text-success pr-2"></span> </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group"> <label>Departamento/Provincia</label>
                    <!-- <div class="d-flex jusify-content-start align-items-center rounded p-2"> <input type="text"
                        value="542 W.14th Street"> <span class="fas fa-check text-success pr-2"></span> </div> -->
                    <select placeholder="Provincia" autocomplete="shipping address-level1" autocorrect="off"
                      data-backup="province" class="field__input field__input--select" aria-required="true"
                      name="checkout[shipping_address][province]" id="checkout_shipping_address_province">
                      <option disabled="">Provincia</option>
                      <option data-alternate-values="[&quot;Amazonas&quot;]" value="AMA">Amazonas</option>
                      <option data-alternate-values="[&quot;Antioquia&quot;]" value="ANT">Antioquia</option>
                      <option data-alternate-values="[&quot;Arauca&quot;]" value="ARA">Arauca</option>
                      <option
                        data-alternate-values="[&quot;San Andrés, Providencia y Santa Catalina&quot;,&quot;San Andres, Providencia y Santa Catalina&quot;,&quot;San Andrés y Providencia&quot;,&quot;San Andres y Providencia&quot;]"
                        value="SAP">Archipiélago de San Andrés, Providencia y Santa Catalina</option>
                      <option data-alternate-values="[&quot;Atlántico&quot;,&quot;Atlantico&quot;]" value="ATL">
                        Atlántico</option>
                      <option data-alternate-values="[&quot;Bolívar&quot;,&quot;Bolivar&quot;]" value="BOL">Bolívar
                      </option>
                      <option data-alternate-values="[&quot;Boyacá&quot;,&quot;Boyaca&quot;]" value="BOY">Boyacá
                      </option>
                      <option data-alternate-values="[&quot;Caldas&quot;]" value="CAL">Caldas</option>
                      <option data-alternate-values="[&quot;Caquetá&quot;,&quot;Caqueta&quot;]" value="CAQ">Caquetá
                      </option>
                      <option data-alternate-values="[&quot;Casanare&quot;]" value="CAS">Casanare</option>
                      <option data-alternate-values="[&quot;Cauca&quot;]" value="CAU">Cauca</option>
                      <option data-alternate-values="[&quot;Cesar&quot;]" value="CES">Cesar</option>
                      <option data-alternate-values="[&quot;Chocó&quot;,&quot;Choco&quot;]" value="CHO">Chocó</option>
                      <option data-alternate-values="[&quot;Córdoba&quot;,&quot;Cordoba&quot;]" value="COR">Córdoba
                      </option>
                      <option data-alternate-values="[&quot;Cundinamarca&quot;]" value="CUN">Cundinamarca</option>
                      <option data-alternate-values="[&quot;Guainía&quot;,&quot;Guainia&quot;]" value="GUA">Guainía
                      </option>
                      <option data-alternate-values="[&quot;Guaviare&quot;]" value="GUV">Guaviare</option>
                      <option data-alternate-values="[&quot;Huila&quot;]" value="HUI">Huila</option>
                      <option data-alternate-values="[&quot;La Guajira&quot;]" value="LAG">La Guajira</option>
                      <option data-alternate-values="[&quot;Magdalena&quot;]" value="MAG">Magdalena</option>
                      <option data-alternate-values="[&quot;Meta&quot;]" value="MET">Meta</option>
                      <option data-alternate-values="[&quot;Nariño&quot;,&quot;Narino&quot;]" value="NAR">Nariño
                      </option>
                      <option data-alternate-values="[&quot;Norte de Santander&quot;]" value="NSA">Norte de Santander
                      </option>
                      <option data-alternate-values="[&quot;Putumayo&quot;]" value="PUT">Putumayo</option>
                      <option data-alternate-values="[&quot;Quindío&quot;,&quot;Quindio&quot;]" value="QUI">Quindío
                      </option>
                      <option data-alternate-values="[&quot;Risaralda&quot;]" value="RIS">Risaralda</option>
                      <option data-alternate-values="[&quot;Santander&quot;]" value="SAN">Santander</option>
                      <option data-alternate-values="[&quot;Sucre&quot;]" value="SUC">Sucre</option>
                      <option data-alternate-values="[&quot;Tolima&quot;]" value="TOL">Tolima</option>
                      <option data-alternate-values="[&quot;Valle del Cauca&quot;]" value="VAC">Valle del Cauca</option>
                      <option data-alternate-values="[&quot;Vaupés&quot;,&quot;Vaupes&quot;]" value="VAU">Vaupés
                      </option>
                      <option data-alternate-values="[&quot;Vichada&quot;]" value="VID">Vichada</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group"> <label>Teléfono/Celular</label>
                    <div class="d-flex jusify-content-start align-items-center rounded p-2"> <input type="text"
                        placeholder="+57 604 123 45 67"> <span class="fas fa-check text-success pr-2"></span> </div>
                  </div>
                </div>
              </div> <label>Detalles adicionales</label> <textarea class="form-control"></textarea>
            </form>
          </div> <input type="checkbox" checked> <label>La dirección de envío es la misma que la de facturación</label>
          <div id="address" class="detailscard2">
            <div class="h5 font-weight-bold text-primary"> Dirección de compras </div>
            <div class="d-md-flex justify-content-md-start align-items-md-center pt-3">
              <div class="mr-auto"> <b>Dirección</b>
                <p class="text-justify text-muted">Carrera54 No. 268 - 1</p>
                <p class="text-uppercase text-muted">Colombia</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div id="cart" class="detailscard">
            <div class="d-flex justify-content-between align-items-center">
              <div class="h6">Resumen de la compra</div>
              <div class="h5 font-weight-bold text-primary"> <a href="#" class="text-uppercase">Modificar</a> </div>
            </div>
            <div class="d-flex jusitfy-content-between align-items-center pt-3 pb-2 border-bottom">
              <div class="item pr-2"> <img
                  src="static/images/img/01.jpg"
                  alt="" width="65%" height="75%">
                <div class="number">2</div>
              </div>
              <div class="d-flex flex-column px-3"> <b class="h5 font-weight-bold">One-Punch Man, Vol. 1</b></div>
              <div class="ml-auto"> <b class="h5">$9.99</b> </div>
            </div>
            <div class="d-flex align-items-center">
              <div class="display-5">Subtotal</div>
              <div class="ml-auto font-weight-bold">$80.9</div>
            </div>
            <div class="d-flex align-items-center py-2 border-bottom">
              <div class="display-5">Envio</div>
              <div class="ml-auto font-weight-bold">$12.9</div>
            </div>
            <div class="d-flex align-items-center py-2">
              <div class="display-6">Total</div>
              <div class="ml-auto d-flex">
                <div class="font-weight-bold display-7">$92.98</div>
              </div>
            </div>
          </div>
          <div class="row pt-lg-2 pt-1 buttons mb-sm-0 mb-1">
            <div class="col-md-4 pt-md-0 pt-2">
              <div class="btn text-white ml-auto;"> Regresar a la tienda</div>
            </div>
            <div class="col-md-4 pt-md-0 pt-2">
              <div class="btn text-white ml-auto"> Finalizar compra </div>
            </div>
          </div>
          <br/>
          <br/>
          <p class="text-muted">¿Necesita ayuda con una orden?</p>
          <p class="text-muted"><a href="#" class="text-danger">Servicio al cliente:</a>+57 604 123 45 67</p>
        </div>
      </div>
    </div>
  </main>
  <div include-html="footer"></div>
  <script>
    includeHTML();
  </script>
</body>

</html>