.mainbar {
  max-width: 1200px;
  margin: 25px auto;
}

.headerbar .active {
  font-weight: 700;
  color: #58b15d !important;
  position: relative
}

.headerbar .active .fa-check {
  position: absolute;
  left: 50%;
  bottom: -27px;
  background-color: #fff;
  font-size: 0.7rem;
  padding: 5px;
  border: 1px solid #58b15d;
  border-radius: 50%;
  color: #58b15d;
}

.progress {
  height: 5px;
  background-color: #b392a33a;
}

.progress div {
  display: flex;
  align-items: center;
  justify-content: center
}

.progress .progress-bar {
  width: 40%
}

#details {
  padding: 30px 50px;
  min-height: 300px
}

input {
  border: none;
  outline: none;
}

.detailscard {
  background: #fff;
  border: 1px solid #ccc;
  margin: 5px auto;
  transition: all 450ms;
}

.detailscard2 {
  background: #b392a33a;
  border: 1px solid #ccc;
  margin: 5px auto;
  transition: all 450ms;
}

.form-group .d-flex {
  border: 1px solid #ddd
}

.form-group .d-flex input {
  width: 95%
}

.form-group .d-flex:hover {
  color: #1f2932;
  cursor: pointer;
  border: 1px solid #58b15d;
}

select {
  width: 100%;
  padding: 8px 5px;
  border: 1px solid #ddd;
  border-radius: 5px
}

input[type="checkbox"]+label {
  font-size: 0.85rem;
  font-weight: 600
}

#address,
#cart,
#summary {
  padding: 20px 20px
}

#address .d-md-flex p.text-justify,
#register p.text-muted {
  margin: 0
}

#register {
  background-color: #d9ecf2
}

#register a {
  text-decoration: none;
  color: #1f2932;
}

#cart,
#summary {
  max-width: 500px
}

div.h5.large {
  font: 700 2.4rem "Adventure", Adventure;
}

.progressText {
  font: 400 1.6rem "Adventure", Adventure;
  color: #b392a33a !important;
}

.h6 {
  font-size: 1.2rem;
  font-weight: 700
}

.h6 a {
  text-decoration: none;
  font-size: 1rem
}

.item img {
  object-fit: cover;
  border-radius: 5px;
}

.item {
  position: relative;
}

.number {
  position: absolute;
  font: 400 2.4rem "Adventure", Adventure;
  color: #fff;
  background: #58b15d;
  padding-left: 8px;
  border-radius: 50%;
  border: 1px solid #fff;
  width: 45px;
  height: 45px;
  top: -3px;
  right: -3px;
}

.display-5 {
  font-size: 1.2rem
}

.display-6 {
  font-size: 1.6rem
}

.display-7 {
  font-size: 1.8rem
}

#cart~p.text-muted {
  font-size: 0.9rem
}

tr.text-muted td {
  border: none
}

.fa-minus,
.fa-plus {
  font-size: 0.7rem
}

.table td {
  padding: 0.3rem
}

a.modificar-uppercase {
  float: right;
  border-radius: 50px;
  display: block;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  text-align: center;
  color: #1f2937;
  padding: 10px 18px;
  font: 300 0.8rem "Roboto Slab", sans-serif;
  background: linear-gradient(to right,
      rgba(0, 100, 200, 1),
      rgba(100, 200, 200, 1));
}

a.modificar-uppercase:hover {
  background: linear-gradient(to right,
      rgba(0, 100, 200, 1),
      rgba(100, 200, 200, 1));
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 1px solid #00d7c3;
  color: #fff;
}

a.text-uppercase {
  border: 1px solid #1f2932;
  color: #1f2932;
  font-weight: 600;
  border-radius: 0px;
  text-decoration: none;
  padding: 10px;
  font: 700 1.2rem "Roboto Slab", sans-serif;
  border-radius: 50px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 250ms ease-in-out;
  float: right;
}

a.text-uppercase:hover {
  background-color: #1f2932;
  text-align: center;
  color: #fff;
}

.btn.text-uppercase {
  border: 1px solid #1f2932;
  border-radius: 0px;
  text-decoration: none;
  padding: 10px;
  font: 700 1.2rem "Roboto Slab", sans-serif;
  border-radius: 50px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 250ms ease-in-out;
}

.btn.text-uppercase:hover {
  background-color: #1f2932;
  text-align: center;
  color: #fff;
}

.btn.text-white {
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  text-decoration: none;
  padding: 10px;
  font: 700 1.2rem "Roboto Slab", sans-serif;
  border-radius: 50px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 250ms ease-in-out;
}

.btn.text-white:hover {
  color: #1f2932;
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 3px solid #00d7c3;
  background: linear-gradient(to right, rgba(0, 100, 200, 1), rgba(100, 200, 200, 1));
}

.wrapper .row+div.text-muted {
  font-size: 0.9rem
}

.mobile,
#mobile {
  display: none
}

.buttons {
  vertical-align: text-bottom
}

#register {
  width: 50%
}

@media(min-width:426px) and (max-width: 769px) {
  .progress .progress-bar {
    width: 33%
  }

  #cart,
  #summary {
    max-width: 100%
  }

  .wrapper div.h5.large,
  .wrapper .row+div.text-muted {
    display: none
  }

  .mobile.h5,
  #mobile {
    display: block;
    font: 700 1.4rem "Adventure", Adventure;
  }

  nav,
  .wrapper {
    padding: 5px 5px
  }

  #address,
  #cart,
  #summary {
    padding: 15px 5px
  }


}

@media(min-width: 376px) and (max-width: 425px) {
  .progress .progress-bar {
    width: 29%
  }

  #cart,
  #summary {
    max-width: 100%
  }

  .wrapper div.h5.large,
  .wrapper .row+div.text-muted {
    display: none
  }

  .mobile.h5,
  #mobile {
    display: block
  }

  .buttons {
    width: 100%
  }
}

@media(max-width: 375px) {
  .progress .progress-bar {
    width: 35%
  }
  body {
    width: fit-content
  }

  #cart,
  #summary {
    max-width: 100%
  }

  nav,
  .wrapper {
    padding: 5px 0px
  }

  #register {
    width: 100%
  }

  #address,
  #cart,
  #summary {
    padding: 5px 5px
  }
}

@media(max-width: 425px) {
  body {
    width: fit-content
  }
}