@font-face {
    font-family: Adventure;
    src: url('static/font/Adventure.otf') format("opentype");
  }
  
body{
    background-color: #F4F4F4;
}

.header-img {
    height: 80px;
    width: 80px;
    display: inline-block;
}

header {
    /*background: dodgerblue;*/
    background: #3f5678;
}

header h1 {
    font-size: 40px; 
    color: #f4f4f4;
    position: relative;
    padding: 20px 20px 0 0;
    display: inline-block;
}

header img{
    display: inline-block;
}

header i{
    height: 2%;
    width: 4%;
    float:right;
    /*overflow:auto;*/
}

h1{
    font-family: Adventure;
}