<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head.ejs') %>

<body>
<!-- Header -->
  <%- include('./partials/header.ejs') %>

  <main class="main">
    <div class="box">
      <div class="container-1">
        <span class="icon"><i class="fa fa-search fa-2x"></i></span>
        <input type="search" id="search" placeholder="Search..." />
      </div>
    </div>
    <article>
      <div id="coverflow">
        <ul class="flip-items">
          <li data-flip-title="Vol. 1" data-flip-category="One-Punch Man">
            <img src="static//images/img/01.jpg" aria-label="drawing of a cat" />
          </li>
          <li data-flip-title="Vol. 2" data-flip-category="One-Punch Man">
            <img src="static//images/img/02.jpg" aria-label="drawing of a cat" />
          </li>
          <li data-flip-title="Vol. 3" data-flip-category="One-Punch Man">
            <img src="static/images/img/03.jpg" aria-label="drawing of a cat" />
          </li>
          <li data-flip-title="Vol. 2.1" data-flip-category="One-Punch Man Temp 2">
            <img src="static/images/img/04.jpg" aria-label="drawing of a cat" />
          </li>
          <li data-flip-title="Vol. 2.2" data-flip-category="One-Punch Man Temp 2">
            <img src="static/images/img/05.jpg" aria-label="drawing of a cat" />
          </li>
          <li data-flip-title="Vol. 2.3" data-flip-category="One-Punch Man Temp 2">
            <img src="static/images/img/06.jpg" aria-label="drawing of a cat" />
          </li>
          <li data-flip-title="Vol. 3.1" data-flip-category="One-Punch Man Temp 3">
            <img src="static/images/img/07.jpg" aria-label="drawing of a cat" />
          </li>
          <li data-flip-title="Vol. 3.2" data-flip-category="One-Punch Man Temp 3">
            <img src="static/images/img/08.jpg" aria-label="drawing of a cat" />
          </li>
          <li data-flip-title="Vol. 3.3" data-flip-category="One-Punch Man Temp 3">
            <img src="static/images/img/09.jpg" aria-label="drawing of a cat" />
          </li>
          <li data-flip-title="OVA" data-flip-category="OVA">
            <img src="static/images/img/10.jpg" aria-label="drawing of a cat" />
          </li>
        </ul>
      </div>
      <script>
        var coverflow = $("#coverflow").flipster({
          buttons: true,
          buttonNext: "Next",
          buttonPrev: "Previous",
          start: 'center',
          fadeIn: 500,
          autoplay: 10000,
          click: true,
          loop: true,
          nav: true,
          style: 'coverflow',
        });
      </script>
    </article>

    <div class="row">
      <div class="card">
        <div class="card-header">
          <h1>React</h1>
          <h6>$99.99</h6>
        </div>
        <div class="card-body">
          <img src="static/images/img/01.jpg" aria-label="drawing of a cat" />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi neque molestiae eius explicabo mollitia
            tempore reiciendis, vel, sequi.
          </p>
          <a href="#" class="btn"><i class="fa-solid fa-cart-plus"></i> A単adir</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h1>Vue</h1>
          <h6>$99.99</h6>
        </div>
        <div class="card-body">
          <img src="static/images/img/02.jpg" aria-label="drawing of a cat" />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi neque molestiae eius explicabo mollitia
            tempore reiciendis, vel, sequi.
          </p>
          <a href="#" class="btn"><i class="fa-solid fa-cart-plus"></i> A単adir</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h1>Angular</h1>
          <h6>$99.99</h6>
        </div>
        <div class="card-body">
          <img src="static/images/img/03.jpg" aria-label="drawing of a cat" />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi neque molestiae eius explicabo mollitia
            tempore reiciendis, vel, sequi.
          </p>
          <a href="#" class="btn"><i class="fa-solid fa-cart-plus"></i> A単adir</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h1>JQuery</h1>
          <h6>$99.99</h6>
        </div>
        <div class="card-body">
          <img src="static/images/img/04.jpg" aria-label="drawing of a cat" />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi neque molestiae eius explicabo mollitia
            tempore reiciendis, vel, sequi.
          </p>
          <a href="#" class="btn"><i class="fa-solid fa-cart-plus"></i> A単adir</a>
        </div>
      </div>
    </div>
  </main>
<!-- Footer -->
<%- include('./partials/footer.ejs') %>

</body>

</html>